# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment variables
.env

# Node
node_modules/
dist/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db
# Local SQLite database
*.db